.container {
    margin-right: 60rem;
    height: 1080px;
}

.card-img-overlay {
    
    width: 100%;
    background-color: rgb(87, 0, 128);
    top: 70%;
    
}

.card-img {
    width: 300px;
    height: 250px;
}

.card {
    margin: 10px auto 35px;
}



@media (max-width: 768px) {
    .card {
        float: left;
    }
}