.navbar{
    margin-top: 0;
    color: #ffffff;
}
.navbar-brand{
    background-color: purple;
    padding: 15px 15px 15px 15px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: ivory;
}

.navbar-item{
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.nav-link{
    color: purple;

}




@media (min-width: 576px) and (orientation: portrait) {
    .navbar-nav{
        
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}


@media  (min-width: 1200px) {
    .navbar-brand {
        margin: 0 0 0 24rem;
    }

    .navbar-nav{
        margin-right: 24rem;
    }

    

}